
<% @posts.reverse.each do |post| %>
	<div class="box-in-posts col-xs-12">
		<h2><%= link_to post.title, post_path(post) %></h2><br />
		<p><%= post.description %></p>

		<% if post.user.present? %>
			<b><small><%= post.user.email %></small></b>
		<% end %>	
		<div class='clear'></div>
		<br />
		<% if post.comments.present? %>
			<div class="col-xs-12">
				<blockquote>
					<%= post.comments.last.message %>
					<small><%= post.comments.last.user.email %></small> 
				</blockquote>
			</div>	
		<% end %>

		<% if post.photos.present? %>
			<div class="col-xs-12">	
				<% if post.photos.last.picture.present? %>
					<div class="container-fluid">
						<div class="img-responsive-parent-1">							
							<%= image_tag post.photos.last.picture, :class => 'img-responsive' %>
						</div>
					</div>		
				<% end %>
			</div>		
		<% end %>
	</div>	
<% end %>	