
<% @posts.each do |post| %>
	<div class="box-in-posts col-xs-12">
		<h2><%= link_to post.title, post_path(post) %></h2><br />
		<p><%= post.description %></p><br />

		<% if post.user.present? %>
			<small><%= post.user.email %></small>
		<% end %>	

		<% if post.comments.present? %>
			<div class="col-xs-12">
				<blockquote>
					<%= post.comments.last.message %>
					<small><%= post.comments.last.user.email %></small> 
				</blockquote>
			</div>	
		<% end %>
			
	</div>	
<% end %>	